/* ----------RESET---------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
p,
img,
ul,
ol,
li,
div {
  margin: 0;
  padding: 0;
}
/* set up default body styles */
body {
  line-height: 1.5;
  margin: 0;
}
/* make images easier to work with */
img {
  max-width: 100%;
  display: block;
}
a,
li {
  text-decoration: none;
  list-style: none;
}
/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}
/* ----------END RESET---------- */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/overpass/v10/qFda35WCmI96Ajtm83upeyoaX6QPnlo6_PPrOQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/overpass/v10/qFda35WCmI96Ajtm83upeyoaX6QPnlo6G_TrOQ.ttf) format('truetype');
}
.flex {
  display: flex;
}
body {
  display: flex;
  min-height: 100vh;
  background-color: hsl(216, 12%, 8%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Overpass', sans-serif;
}
body main {
  background-image: linear-gradient(180deg, hsl(215, 20%, 17%), hsl(215, 27%, 12%));
  width: 25rem;
  padding: 1.5rem;
  border-radius: 16px;
}
body main img {
  display: inline;
  padding: 1rem;
  background-color: hsl(215, 18%, 19%);
  margin: 0 0.5rem 1rem 0;
  border-radius: 50%;
}
body main .static-text h1 {
  color: white;
  font-weight: 700;
  margin-bottom: 1rem;
}
body main .static-text p {
  font-size: 15px;
  color: hsl(217, 12%, 63%);
  margin-bottom: 1rem;
}
body .interactive ol {
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-between;
}
body .interactive ol li {
  background-color: hsl(215, 18%, 19%);
  height: auto;
  width: auto;
  padding: 1rem;
  border-radius: 50%;
}
.attribution {
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
