/* ----------RESET---------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

// Make Elements easier to work with
h1,
p,
img,
ul,
ol,
li,
div {
  margin: 0;
  padding: 0;
}

/* set up default body styles */
body {
  line-height: 1.5;
  margin: 0;
}

/* make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

a,
li {
  text-decoration: none;
  list-style: none;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* ----------END RESET---------- */

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

// Colors
@light-grey: hsl(217, 12%, 63%);
@medium-grey: hsl(216, 12%, 54%);
@dark-blue: hsl(213, 19%, 15%);
@very-dark-blue: hsl(216, 12%, 8%);
@orange: hsl(25, 97%, 53%);




//FLEX Mixin
.flex {
  display: flex;
}

body {
  .flex;
  min-height: 100vh;
  background-color: @very-dark-blue;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Overpass', sans-serif;

  main {
    background-image: linear-gradient(180deg, hsl(215,20%,17%), hsl(215,27%,12%));
    width: 25rem;
    padding: 1.5rem;
    border-radius: 16px;

    img {
      //  0-top .5-right 1-bottom 0-left
      display: inline;
      padding: 1rem;
      background-color: hsl(215,18%,19%);
      margin: 0 0.5rem 1rem 0;
      border-radius: 50%;
    }

    .static-text {

      h1 {
        color: white;
        font-weight: 700;
        margin-bottom: 1rem;
      }

      p {
        font-size: 15px;
        color: @light-grey;
        margin-bottom: 1rem;
      }
    }
  }

  .interactive {

    ol {
      .flex;
      margin-bottom: 2rem;
      justify-content: space-between;

      li {
        background-color: hsl(215,18%,19%);
        
        
        padding: 1rem;
        border-radius: 50%;
    
        
        
      }
    }
  }
}



// Attribution code by Frontend Mentor
.attribution {
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}
// End of attribution code

